<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <title>Lightbox Example</title>
  <link rel="stylesheet" href="../dist/css/lightbox.min.css">
</head>
<body>

  <section>
    <h3></h3>
    <div>
      <a class="example-image-link" href="" data-lightbox="example-1"><img class="example-image" src="" alt="image-1" /></a>
      <a class="example-image-link" href="" data-lightbox="example-2" data-title="Optional caption."><img class="example-image" src="" alt="image-1"/></a>
    </div>
  </section>

  <script src="../dist/js/lightbox-plus-jquery.min.js"></script>

</body>
</html>
